@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #10b981;
  --color-secondary: #3b82f6;
  --color-dark: #1e293b;
  --color-light: #f8fafc;
  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: var(--font-sans);
}
